.idea/
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.db

bin/*
pkg/
src/*

gin-bin

!src/github.com/
src/github.com/*

!src/github.com/cifren/
src/github.com/cifren/*

!src/github.com/cifren/ghyt/
!src/github.com/cifren/youtrack/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
